<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>批改作业</title>
  <link rel="stylesheet" href="../public/css/amazeui.min.css"/>
  <link rel="stylesheet" href="../public/css/admin.css">
</head>
<body>
<%- include("../header.ejs") %>
<div class="am-cf admin-main" id="app">
  <!-- sidebar start -->
  <%- include("../left.ejs") %>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">{{title}}</strong></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
        <div class="am-panel am-panel-default" v-if='scinfo.pgstatus == false'>
          <div class="am-panel-bd">
            <div class="am-g">
              <div class="am-u-md-12">
                  <a type="button" class="am-btn am-btn-primary am-btn-lg" v-bind:href="taskmsg.exercises" v-if="type==1">下载作业</a>
                  <a type="button" class="am-btn am-btn-primary am-btn-lg" v-bind:href="scinfo.taskurl" v-if="type==2">下载作业</a>
              </div>
              
            </div>
          </div>
        </div>
        <div class="am-panel am-panel-default" v-if="type==1">
          <div class="am-panel-bd">
            <div class="am-g">
              <div class="am-u-md-12">
                <p>{{scfile}}</p>
                  <div class="am-form-group">
                    <input type="file" name="word" id="user-pic">
                    <p class="am-form-help">选择文件...</p>
                    <input type="button"  class="am-btn am-btn-primary am-btn-xs" value='上传' v-on:click="upload">
                    <input type="hidden" v-model="taskurl">
                  </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>

      <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <div class="am-form am-form-horizontal">
          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">学生姓名</label>
            <div class="am-u-sm-9">
              <input type="text" v-model="scinfo.name" readonly>
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">作业题目</label>
            <div class="am-u-sm-9">
              <input type="text" v-model="taskmsg.title" readonly>
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">学科</label>
            <div class="am-u-sm-9">
              <input type="text" v-model="taskmsg.major" readonly>
            </div>
          </div>

          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">专业</label>
            <div class="am-u-sm-9">
              <input type="text" v-model="taskmsg.department" readonly>
            </div>
          </div>

          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">开始日期</label>
            <div class="am-u-sm-9">
              <input type="date" v-model="taskmsg.start" readonly>
            </div>
          </div>

          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">截止日期</label>
            <div class="am-u-sm-9">
              <input type="date" v-model="taskmsg.end" readonly>
            </div>
          </div>
          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">提交状态</label>
            <div class="am-u-sm-9">
              <input type="text" v-model="scinfo.tjstatus ? '已提交' : '未提交'" readonly>
            </div>
          </div>

          <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">下载状态</label>
            <div class="am-u-sm-9">
              <input type="text" v-model="scinfo.xzstatus ? '老师已下载' : '未下载'" readonly>
            </div>
          </div>

          <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-push-3">
              <button type="button" class="am-btn am-btn-primary" v-on:click="save">保存</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>
<%- include("../footer.ejs") %>
<script src="../public/js/html/marktask.js"></script>
</body>
</html>
